@import '../variables';
@import '../mixins/hairline';

@tabs-height: 88rpx;
@tabs-space-h: 24rpx;
@tab-zindex: 9;
@tabs-line-width: 60rpx;
@tabs-line-height: 2px;

.bw-tabs {
  position: relative;
  display: flex;
  height: @tabs-height;
  background-color: @color--white;

  &::after {
    .hairline-bottom(@border-color--base, 0);
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: @tab-zindex;

    & + .bw-tabs__content {
      padding-top: @tabs-height;
    }
  }

  &__item {
    position: relative;
    flex: 1 0 auto;
    padding: 0 @tabs-space-h;
    font-size: @font-size--large;
    color: @color-text--base;
    line-height: @tabs-height;
    text-align: center;
    transition: all .3s;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 9;
      width: @tabs-line-width;
      margin-left: -@tabs-line-width / 2;
      border-top: @tabs-line-height solid transparent;
      transform: scaleX(0);
      transition: all .3s;
    }

    &.is-active {
      color: @color--primary;

      &::after {
        border-color: @color--primary;
        transform: scaleX(1);
      }
    }

    &.is-disabled {
      opacity: @opacity-disabled;
    }
  }

  &__panel {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
